{% extends "base.html.twig" %}

{% use "default/leftsidebar.html.twig" %}

{% block title %} Wellcome {% endblock %}

{% block body %}
    
    {% for category in categories %}
        <div class="col-md-6">
            <a href={{ path('category', {id:category.id}) }}>
                
                {% if category.getParent() %}
                    {{ category.getParent().name }}/
                {% endif %}
                
                {{ category.name }}
        
                {% if type == 'nested' %}
                    : {{ category.lvl }}
                {% else %}
                    [{{category.products|length}}]
                {% endif %}
            </a>
            
            {% if category.products and category.products|length > 0 %}
            <ul>
                {% for product in category.products %}
                    <li> <a href={{ path('product', {id:product.id}) }}>{{ product.name }}</a> </li>
                {% endfor %}
            </ul>
            {% endif %}
            
        </div>
        
    {% endfor %} 

{% endblock %}